html,
body {
  margin: 0;
  padding: 0;
}

.main{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(#6000a9, #1a00c6);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .board-row {
    display: flex;
  }
  
  .square {
    width: 60px;
    height: 60px;
    margin: 4px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9c8c8;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .winner-message {
    margin-top: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  button {
    cursor: pointer;
  }

  .reset{
    background-image: linear-gradient(135deg,#a4a4a4,#020202);
    width: 130px;
    height: 40px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 20px;
    font-family: cursive;
    }

    .draw-message{
        font-size: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 300px;
    }

    .text{
        border: 4px solid #151515;
        font-size: 19px;
        width: 130px;
        height: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: wheat;
        border-radius: 20px;
        font-family: cursive;
    }

    .next{
        font-size: 19px;
        width: 150px;
        height: 30px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: wheat;
        border-radius: 20px;
        font-family: cursive;
    }
  